GROQ_API_KEY=cole_sua_chave_da_groq
GROQ_MODEL=openai/gpt-oss-120b
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=cole_a_service_role_key_apenas_no_servidor
ELEVENLABS_API_KEY=sk_4ec4fd8cb1553fcee300ba9ebdaf6e2728afcaad1a3d9394
ELEVENLABS_VOICE_ID=PZMcMFpToj1IIYF0QDwX
PORT=3000
